$primary: #00dc82;
$primary_gradient: linear-gradient(266.09deg, #00dc82 39.71%, #80eec0 118.19%);
$primary_gradient_revert: linear-gradient(
  266.09deg,
  #80eec0 39.71%,
  #00dc82 118.19%
);
$secondary: #002e3b;
$glass: linear-gradient(
  141.8deg,
  rgba(0, 46, 59, 0.4) 21.51%,
  rgba(0, 46, 59, 0.6) 77.72%
);

$white: #fff;
$black: #000;
$gray: #999;
